
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    body{
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    }   
</style>
{{>navpaciente}}
<body>
  <br><br><br><br>
    <div class="container">
{{> messages }} 
{{> error}}    
{{> errors}}
        <div class="row">

  {{#each Citas}}
  <div class="col-md-6">
  <div class="card text-center" style="width:5000px heigth:280px" >
    <div class="card-body">
      <h4 class="card-title">{{Titulo}}</h4>
      <h5 class="card-title">Dia {{Dia}}</h5>
      <h5 class="card-title">Hora {{Hora}}</h5>
      <p class="card-text">{{Descripcion}}</p>
                 {{#if Confirmacion}}
              <h4 class="card-title">CITA CONFIRMADA</h4>
                {{else}}
                {{#if Rechazo}}
                <h4 class="card-title">CITA RECHAZADA</h4>
               <form action="/Paciente/Citas/EliminarC/{{_id}}?_method=DELETE" method="POST">
           <input type="hidden" name="_method" value="DELETE">
           <button type="submit" class="btn btn-danger btn-block">Eliminar Cita</button>
       </form>
                {{else}}
              <a href="/Paciente/Citas/EditarC/{{_id}}" class="btn btn-warning btn-block">Editar Cita</a><br>
               <form action="/Paciente/Citas/EliminarC/{{_id}}?_method=DELETE" method="POST">
           <input type="hidden" name="_method" value="DELETE">
           <button type="submit" class="btn btn-danger btn-block">Eliminar Cita</button>
       </form>
        {{/if}}
                 {{/if}}
     
    </div>
  </div>
      <br>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body text-center">
      <h1>Hola {{user.Usuario}}</h1>
      <p clsss="lead">Aun no has agendado ninguna cita</p>
      <a href="/Paciente/Citas/NuevaC" class="btn btn-success btn-block">Agendar Cita</a>
    </div>
  </div>
  {{/each}}
</div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
</body>