
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    body{
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    }   
</style>
{{>navpaciente}}
<body>
  <br><br><br><br>
    <div class="container">
        {{> messages }} 
{{> error}}    
{{> errors}}
    <div class="col-md-4 mx-auto">

  <div class="card text-center">
    <div class="card-header">
      <h3>Editar Cita</h3>
    </div>
    <div class="card-body">
      <form action="/Paciente/Citas/EditarC/{{epa.id}}?_method=PUT" method="POST" onpaste="return false" ondrag="return false" ondrop="return false">
        <input type="hidden" name="_method" value="PUT"/>
        <div class="form-group">
          <input type="text" name="Titulo" class="form-control" placeholder="Titulo" autofocus value="{{epa.Titulo}}" required maxlength="20" autocomplete="off" pattern="[A-Za-z ]+" title="No caracteres especiales ni numeros"/>
        </div> 
        <div class="form-group">
          <input type="date" name="Dia" class="form-control" title="{{epa.Dia}}">
        </div>
        <div class="form-group">
          <input type="time" name="Hora" class="form-control" title="{{epa.Hora}}">
        </div> 
        <div class="form-group">
          <textarea name="Descripcion" class="form-control" placeholder="Descripcion" required maxlength="200" pattern="[A-Za-z ]+" title="No caracteres especiales ni numeros">{{epa.Descripcion}}</textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-find btn-block" type="submit">
            Editar Cita
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
</body>